@use "../../styles/vars" as *;

.container {
  @extend %container;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  > * {
    flex-basis: 48%;
    list-style: none;
    margin-bottom: 1em;
    a {
      display: flex;
      flex-direction: column;
      height: 100%;
      &:hover {
        .thumb1 {
          opacity: 0;
        }
        p {
          color: $dark-highlight;
        }
      }
      p {
        color: $dark-main;
      }
    }
  }
}

.thumb {
  height: 100%;
  position: relative;
  background: $light-main;
  display: flex;
  .thumb2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .thumb1 {
    position:relative;
    z-index: 2;
    transition: opacity 0.3s;
  }
}

.thumb.noimg {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTEgM3YyaC00di0yaDR6bTMgNmwtMi41MTkgNC0yLjQ4MS0xLjk2LTQgNS45NmgxNGwtNS04em0tNy41IDFjLjgyOCAwIDEuNS0uNjcxIDEuNS0xLjUgMC0uODI4LS42NzItMS41LTEuNS0xLjVzLTEuNS42NzItMS41IDEuNWMwIC44MjkuNjcyIDEuNSAxLjUgMS41em0xMC41IDloLTR2Mmg0di0yem0tNiAydi0yaC00djJoNHptMi0xOHYyaDR2LTJoLTR6bTYgMHYyaDN2M2gydi01aC01em0tMTcgMmgzdi0yaC01djVoMnYtM3ptMjAgMTRoLTN2Mmg1di01aC0ydjN6bTAtNWgydi00aC0ydjR6bS0yMC00aC0ydjRoMnYtNHptMyA5aC0zdi0zaC0ydjVoNXYtMnoiLz48L3N2Zz4=) 
  center/30% no-repeat #ccc;
  opacity: 0.2;
}