$main: #e2edda;
$dark-main: #539550;
$light-main: #f5fdef;
$highlight: #ffcece;
$dark-highlight: #e69595;

$tablet1: 1199px;
$tablet2: 899px;
$mobile1: 400px;
$mobile2: 329px;

%container {
  margin: auto;
  height: 100%;
  width: 90%;
  max-width: 800px;
}