@use "../styles/vars" as *;

.container {
  @extend %container;
}

@mixin big-div($type, $background: transparent, $height: auto) {
  .big-div-#{$type} {
    height: $height;
    background: $background;
    position: relative;
    padding: 2em 0;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
  }
}
@include big-div("top", transparent, 250px);
@include big-div("white", rgba(255, 255, 255, 0.541));
@include big-div("solid", #fff);
@include big-div("trans", transparent);
@include big-div("dark", #000);

.big-div-top  {
  padding-top: 70px;
  .layer-top {
    text-align: center;
    width: 100%;
    height: 100%;
    position:relative;
    p {
      font-family: monospace;
      color: $dark-main;
      font-size: 2em;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%,-70%);
      width: 15em;
      overflow: hidden;
      white-space: nowrap;
      opacity: 0;
      &:first-child {
        + p {
          animation-delay: 4s;
          + p {
            animation-delay: 8s;
          }
        }
      }
    }
  }
}

.anim-showletters {
  animation: showletters 12s ease 0s infinite normal both;
}

@keyframes showletters {
  0%{width: 0;}
  5%{opacity:1;}
  25%{opacity:1;}
  30% {width: 15em;opacity:0;}
  100%{opacity:0;}
}

@keyframes showlettersMobile {
  0%{width: 0;}
  25%{opacity:1;}
  30% {width: 12em;opacity:0;}
  100%{opacity:0;}
}

@media only screen and (max-width: $mobile1) {
  .big-div-top .layer-top p {
    font-size: 1.2em;
    width: 12em;
  }
  .anim-showletters {
    animation: showlettersMobile 12s ease 0s infinite normal both;
  }
  
}

.splash-style1 {
  display:flex;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: 1em auto;
  background: $main;
  > * {
    width: 50%;
    height: 100%;
    background-size: cover;
    transition: 0.3s ease;
    opacity: 0.7;
    &:first-child {
      background-position: 0 50%;
    }
    &:last-child {
      background-position: 100% 50%;
    }
    &:hover {
      width: 90%;
      opacity: 1;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: $mobile1) {
  .splash-style1 {
    margin: 1em -5%;
    height: 250px;
  }
}

.active-sec {
  opacity: 1;
}

.chat-bot-frame {
  margin: 2em auto;
}
