@use "../styles/vars" as *;

//background
$bg-color: #e2edda;
$dot-color: #529650;
$dot-size: 3px;
$dot-space: 40px;
.background {
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, 
    $dot-color;
  background-size: $dot-space $dot-space;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

%container {
  margin: auto;
  height: 100%;
  width: 90%;
}

.container {
  @extend %container;
  max-width: 800px;
}

@mixin big-div($type, $background: transparent, $height: auto) {
  .big-div-#{$type} {
    height: $height;
    min-height: 300px;
    background: $background;
    position: relative;
    padding: 2em 0;
  }
}
@include big-div("top", transparent);
@include big-div("white", rgba(255, 255, 255, 0.541));
@include big-div("solid", #fff);
@include big-div("trans", transparent);
@include big-div("dark", #000);

.big-div-top  {
  padding-top: 50px;
  .layer-top {
    text-align: center;
    p {
      font-family: monospace;
      color: $dark-main;
      font-size: 3em;
    }
  }
}

.rain {
  position:relative;
  width: 100%;
  height: 100%;
}

$dropDeg: rotate(135deg);
@mixin droplet-char($x, $opacity, $scale) {
  transform: scale($scale) $dropDeg;
  top: 0;
  left: $x;
  opacity: $opacity;
}
.droplet {
  border-radius: 50% 50% 50% 5%;
  transform: $dropDeg;
  background-color: dodgerblue;
  width: 30px;
  height: 30px;
  position: absolute;
  animation: fall infinite;
  &:nth-child(1) {
    animation-duration: 7.3s;
    animation-delay: 1.2s;
    @include droplet-char(10%, 0.3, 1);
  }
  &:nth-child(2) {
    animation-duration: 7.7s;
    animation-delay: 5.4s;
    @include droplet-char(30%, 0.1,  1);
  }
  &:nth-child(3) {
    animation-duration: 7.5s;
    animation-delay: 2.7s;
    @include droplet-char(50%, 0.6, 1);
  }
  &:nth-child(4) {
    animation-duration: 7.9s;
    animation-delay: 3.8s;
    @include droplet-char(70%, 0.4, 1);
  }
  &:nth-child(5) {
    animation-duration: 7.1s;
    animation-delay: 1s;
    @include droplet-char(90%, 0.2, 1);
  }

}

@keyframes fall {
  0% {
    transform: rotate3d(0, 1, 0, 80deg) $dropDeg;
  }
  80% {
    transform: rotate3d(0, 1, 0, 0deg) $dropDeg;
    opacity: 0.2
  }
  100% {
    top: 90%;
    transform: rotate3d(0, 1, 0, 190deg) $dropDeg;
    opacity: 0;
  }
}

.splash-style1 {
  display:flex;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: 1em auto;
  background: $main;
  > * {
    width: 50%;
    height: 100%;
    background-size: cover;
    transition: 0.3s ease;
    &:first-child {
      background-position: 0 50%;
    }
    &:last-child {
      background-position: 100% 50%;
    }
    &:hover {
      width: 90%;
      opacity: 1;
    }
    &:not(:hover) {
      opacity: 0.7;
    }
  }
}
@media only screen and (max-width: $mobile1) {
  .splash-style1 {
    margin: 1em -5%;
    height: 250px;
  }
}