@use "../styles/vars" as *;

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
  overflow-x: hidden;
}

.container {
  @extend %container;
}

//background
$bg-color: #e2edda;
$dot-color: #529650;
$dot-size: 3px;
$dot-space: 40px;
.background {
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, 
    $dot-color;
  background-size: $dot-space $dot-space;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rain {
  position:relative;
  width: 100%;
  height: 100%;
}

$dropDeg: rotate(135deg);
@mixin droplet-char($x, $opacity, $scale) {
  transform: scale($scale) $dropDeg;
  top: 0;
  left: $x;
  opacity: $opacity;
}
.droplet {
  border-radius: 50% 50% 50% 5%;
  transform: $dropDeg;
  background-color: dodgerblue;
  width: 30px;
  height: 30px;
  position: absolute;
  animation: fall infinite;
  &:nth-child(1) {
    animation-duration: 7.3s;
    animation-delay: 1.2s;
    @include droplet-char(10%, 0.3, 1);
  }
  &:nth-child(2) {
    animation-duration: 7.7s;
    animation-delay: 5.4s;
    @include droplet-char(30%, 0.1,  1);
  }
  &:nth-child(3) {
    animation-duration: 7.5s;
    animation-delay: 2.7s;
    @include droplet-char(50%, 0.6, 1);
  }
  &:nth-child(4) {
    animation-duration: 7.9s;
    animation-delay: 3.8s;
    @include droplet-char(70%, 0.4, 1);
  }
  &:nth-child(5) {
    animation-duration: 7.1s;
    animation-delay: 1s;
    @include droplet-char(90%, 0.2, 1);
  }

}

@keyframes fall {
  0% {
    transform: rotate3d(0, 1, 0, 80deg) $dropDeg;
  }
  80% {
    transform: rotate3d(0, 1, 0, 0deg) $dropDeg;
    opacity: 0.2
  }
  100% {
    top: 90%;
    transform: rotate3d(0, 1, 0, 190deg) $dropDeg;
    opacity: 0;
  }
}

.heading {
  color: #4e9f4a;
}

.header-block {
  height: 120px;
  position:relative;
  background-image: linear-gradient(to bottom, white 25%, rgb(255 255 255 / 78%), transparent);
}

$logo-color: #ccc;
.logo {
  position: absolute;
  top: 0;
  color: $light-main;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:
  -2px -2px 0 $highlight,  
   2px -2px 0 $dark-main,
   -2px 2px 0 $dark-main,
    2px 2px 0 $dark-main;
}

@mixin cloud-char($index, $x, $scale, $flip) {
  &:nth-child(#{$index}) {
    transform: scale($scale) scaleX($flip);
    left: $x;
  }
}

.clouds {
  position: relative;
  height: 100%;
  height: 170px;
  background-image: radial-gradient(circle at top, #fff 16%, transparent 0%);
  > * {
    position: absolute;
    width: 350px;
    background: #fff;
    top: 40%;
    &:before,&:after {
      background: inherit;
      content: '';
      position: absolute;
      border-radius: 100%;
    }
    &:before{
      width: 180px;
      height: 180px;
      right: 50px;
      top: -70px;
    }
    &:after {
      width: 100px;
      height: 100px;
      left: 50px;
      top: -40px;
    }
    @include cloud-char(1, 0, 1.5, -1);
    @include cloud-char(2, 22%, 0.8,  1);
    @include cloud-char(3, 55%, 0.9, -1);
    @include cloud-char(4, 80%, 1.3, 1);
  }
}

@media only screen and (max-width: $tablet2) {
  .clouds {
    > * {
      width: 150px;
      &:before{
        width: 120px;
        height: 120px;
      }
      &:after {
        width: 70px;
        height: 70px;
      }
      @include cloud-char(1, 0, 1, 1);
      @include cloud-char(2, 16%, 0.6,  -1);
      @include cloud-char(3, 50%, 0.7, 1);
      @include cloud-char(4, 60%, 0.8, -1);
    }
  }
}

@media only screen and (max-width: $mobile2) {
  .clouds {
    > * {
      @include cloud-char(4, 50%, 0.8, -1);
    }
  }
}

footer {
  padding: 70px 0;
  text-align: center;
}

.sns-links {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  a {
    flex-basis: 100px;
    svg {
      display: block;
      margin: 0 auto 1em;
      transition: transform 0.3s;
    }
    &:hover svg {
      transform: scale(1.5);
    }
  }
}

.big-div-top  {
  padding-top: 50px;
  text-align: center;
  h1 {
    font-family: monospace;
    color: $dark-main;
    font-size: 3em;
  }
}

.contents {
  padding: 2em 0;
  background: #fff;
}