body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 800px;
}

.heading {
  color: #4e9f4a;
}

.header-block {
  height: 120px;
  position:relative;
  background-image: linear-gradient(to bottom, white 25%, rgb(255 255 255 / 78%), transparent);
}

.logo {
  position: absolute;
  top: 0;
}

@mixin cloud-char($index, $x, $scale, $flip) {
  &:nth-child(#{$index}) {
    transform: scale($scale) scaleX($flip);
    left: $x;
  }
}

.clouds {
  position: relative;
  height: 100%;
  height: 170px;
  background-image: radial-gradient(circle at top, #fff 16%, transparent 0%);
  > * {
    position: absolute;
    width: 350px;
    background: #fff;
    top: 40%;
    &:before,&:after {
      background: inherit;
      content: '';
      position: absolute;
      border-radius: 100%;
    }
    &:before{
      width: 180px;
      height: 180px;
      right: 50px;
      top: -70px;
    }
    &:after {
      width: 100px;
      height: 100px;
      left: 50px;
      top: -40px;
    }
    @include cloud-char(1, 0, 1.5, -1);
    @include cloud-char(2, 22%, 0.8,  1);
    @include cloud-char(3, 55%, 0.9, -1);
    @include cloud-char(4, 80%, 1.3, 1);
  }
}