@use "../styles/vars" as *;

.container {
  @extend %container;
}

.tool {
  color: $dark-main;
  background: $light-main;
  display: inline-block;
  margin: 0;
  padding: 0.4em;
  border-radius: 13px;
}

.featured-image {
  text-align: center;
  margin: 2em 0;
}

.content {
  ul {
    list-style: none;
    padding: 0;
    column-count: 2;
    li {
      position: relative;
      padding-left: 1em;
      margin-bottom: 1em;
      &:before {
        background-image: linear-gradient(180deg, $light-main, $highlight);
        border-radius: 100%;
        width: 10px;
        height: 10px;
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  p {
    line-height: 1.6em;
  }
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-links {
  display: flex;
  a {
    padding: 5px;
    fill: $dark-highlight;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}