@use "../styles/vars" as *;

%abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-body {
  font-size: 25px;
  color: #888;
}
@media only screen and (max-width: $mobile1) {
  .work-body {
    font-size: 21px;
  }
}

.content {
  ul {
    list-style: none;
    padding: 0;
    column-count: 2;
    font-size: 0.8em;
    li {
      position: relative;
      padding-left: 1em;
      margin-bottom: 1em;
      &:before {
        background-image: linear-gradient(180deg, $light-main, $highlight);
        border-radius: 100%;
        width: 10px;
        height: 10px;
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  p {
    line-height: 1.6em;
  }
}

.sec-head {
  color: #fff;
  font-size: 1em;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 99;
  height: 2em;
  > span {
    @extend %abs-center;
    z-index:2;
  }
  &:before, &:after {
    background: $dark-main;
    transform: skewX(45deg);
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
  }
  &:after {
    transform: skewX(315deg);
  }
}

.tool {
  color: $dark-main;
  background: $light-main;
  display: inline-block;
  margin: 0;
  padding: 0.4em;
  border-radius: 13px;
}